.navWrap{
  width: 100%;
  height: 50px;
  background-color: steelblue;
  ul{
    display: inline;
    li{
      display: inline-block;
      margin-right: 20px;
      margin-left: 20px;
      line-height: 50px;
      color:white;
    }
  }
}